body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif, Arial;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #81b3d2;
}

a {
  text-decoration: none;
  color: #766357;
}

.link {
  font-family: inherit;
  font-weight: bold;
  color: black;
}

.link:hover,
.link:focus {
  color: #81b3d2;
}

.link:active {
  color: #bdbbbc;
}

.button {
  font-family: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
}

.button-brown {
  font-family: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
}

.navigation {
  background-color: white;
}

.site-navigation {
  list-style: none;
}

.greeting {
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.greeting-img{
  background-image: url("../img/intro-mask.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.greeting-text {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.appointment {
  background-color: white;
}

.popup {
  font-family: inherit;
  font-weight: bold;

  background-color: white;
}

.popup-item input {
  font: inherit;

  background-color: #f2f2f2;
}

.popup-item input:hover {
  background-color: #ebebeb;
}

.popup-item input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.footer {
  background-color: white;
}

.footer-social ul {
  list-style: none;
}


/*style for catalog.html*/

.sort {
  background-color: white;
}

.sort p {
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
}

.sort-item button {
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dotted #81b3d2;
  padding: 0;
  background-color: transparent;
}

.sort-item button:hover,
.sort-item button:focus {
  color: #81b3d2;
}

.sort-item button:active {
  color: black;
  border: none;
}

.control {
  border: none;
  padding: 0;
  background-color: transparent;
}

.housing {
  background-color: white;
}

.housing-list {
  list-style: none;
}
