body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: #545bff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);

}

a {
  text-decoration: none;
  color: black;
}

.link {
  font-family: inherit;
  font-weight: bold;
  line-height: 26px;
  color: black;
}

.link:hover,
.link:focus {
  color: #81b3d2;
}

.link:active {
  color: #bdbbbc;
}

.active-link a {
  color: #766357;
}

.button {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  background-color: white;
}

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  margin-top: -80px;
  margin-bottom: -10px;
  padding: 0;

  list-style: none;
}

.navigation-site a {
  display: block;
  padding: 20px 70px;
}

.navigation-site li:nth-of-type(2) {
  margin-right: auto;
}

.navigation-site li:nth-of-type(3) {
  margin-left: auto;
}

.navigation-logo {
  position: relative;
}

.greeting {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}

.greeting-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 508px;

  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: 0 452px, 0 -85px;
  background-repeat: no-repeat, no-repeat;
  background-color: #9abad2;
}

.greeting-text {
  min-height: 216px;
  margin-bottom: -60px;
  padding-top: 60px;

  background-color: white;
}

.greeting-text h1 {
  padding-bottom: 35px;
  margin: 0;
}

.greeting-text p {
  margin: 0;
}

.advices {
  margin-left: -40px;
}

.advices-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  list-style: none;
}

.advices-item {
  width: 400px;
  min-height: 330px;

  background-color: white;
}

.advices-text {
  margin-top: 60px;
  margin-bottom: 30px;
}

.advices-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 400px;
  min-height: 256px;

  background-color: #eeeeee;
}

.benefits-text {
  margin-top: 60px;
  margin-bottom: 30px;
}

.benefits-blue {
  color: white;

  background-color: #81b3d2;
}

div[class^="benefits-img"] {
  width: 800px;
  background-size: cover;

  overflow: hidden;
  background-color: #81b3d2;
}

.benefits-img-town {
  background-image: url("../img/feature-picture-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -78px;
}

.benefits-img-bridge {
  background-image: url("../img/feature-picture-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 -76px;
}

.appointment {
  position: relative;

  min-height: 291px;
  margin: 0;

  background-color: white;
}

.appointment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;


  background-color: white;
}

.appointment-text {
  min-height: 96px;
  margin: auto;

  line-height: 24px;
}

.appointment-text h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.appointment-info .button-brown {
  box-sizing: border-box;
  width: 568px;
  height: 86px;


  font-size: 21px;
  line-height: 26px;
}

/*Style for popup*/
.popup {
  position: absolute;
  top: 290px;
  left: 316px;
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;


  font-family: inherit;
  font-weight: bold;

  background-color: white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 55px;
}

.popup-data input {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-left: 13px;
}

.popup-data label {
  margin-right: 10px;
}

.calendar-checkin,
.calendar-checkout {
  position: absolute;
  right: 65px;
}

.calendar-checkin {
  top: 62px;
}

.calendar-checkout {
  top: 127px;
}

.calendar-checkin path,
.calendar-checkout path {
  fill: #cacaca;
}

.calendar-checkin:hover path,
.calendar-checkin:focus path,
.calendar-checkout:hover path,
.calendar-checkout:focus path {
  fill: #231f20;
}

.calendar-checkin:active path,
.calendar-checkout:active path {
  fill: #81b3d2;
}

.popup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.popup-person {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 230px;
  margin-top: 15px;
}

.popup-person input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
}

.popup-person button {
  position: relative;

  width: 38px;
  height: 38px;

  border: none;
}

.button-left::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 12px;
  height: 3px;

  background-color: #bdbbbc;
}

.button-right::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 11px;
  height: 3px;

  background-color: #bdbbbc;
}

.button-right::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 11px;
  height: 3px;
  transform: rotate(90deg);

  background-color: #bdbbbc;
}

.button-left:hover::before,
.button-left:focus::before,
.button-right:hover::before,
.button-right:focus::before,
.button-right:hover::after,
.button-right:focus::after {
  background-color: #231f20;
}

.button-left:active::before,
.button-right:active::before,
.button-right:active::after {
  background-color: #81b3d2;
}

.popup-person label {
  margin-right: 40px;
}

.popup-button {
  width: 458px;
  height: 58px;
  margin-top: 40px;

  font-size: 21px;
  line-height: 26px;
}

.popup-form input {
  font: inherit;

  border: none;
  background-color: #f2f2f2;
}

.popup-form input:hover {
  background-color: #ebebeb;
}

.popup-form input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.appointment-map {
  min-height: 593px;
  margin: 0;

  background-color: #8effbf;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top;
}

.footer-absolute {
  position: absolute;
  bottom: 0;

  width: 1200px;

  opacity: 0.9;
}

.footer-main {
  min-height: 120px;

  background-color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer-contacts {
  margin-left: 130px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.footer-social {
  width: 200px;
  margin: auto;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 46px;
}

.button-social:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  margin-right: 85px;
}

.footer-copyright a {
  display: flex;
  align-items: center;
}

.footer-copyright p {
  margin-right: -5px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

/*style for catalog.html*/
.features {
  min-height: 217px;

  color: white;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.features form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 86px;
  padding: 0 70px;

  background-color: white;
  border-bottom: 1px solid #f2f2f2;
}

.sort-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: auto;
}

.sort-list {
  display: flex;

  list-style: none;
}

.sort-item {
  width: 80px;
  text-align: right;
}

.sort p {
  font-size: 12px;
  line-height: 18px;
}

.sort-item button {
  padding: 0;

  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item button:hover,
.sort-item button:focus {
  color: #81b3d2;
}

.sort-item button:active {
  color: black;

  border: none;
}

.control {
  padding: 0;

  background-color: transparent;
  border: none;
}

.housing {
  min-height: 453px;

  background-color: white;
}

.housing-list {
  display: flex;
  flex-direction: column;
  margin: 0;

  list-style: none;
}

.housing-item {
  display: flex;
  align-items: center;
  margin: 0;

  border-bottom: 1px solid #f2f2f2;
}
