body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: white;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

.link {
  font-family: inherit;
  font-weight: bold;
  line-height: 26px;
  color: black;
}

.link:hover,
.link:focus {
  color: #81b3d2;
}

.link:active {
  color: #bdbbbc;
}

.active-link a {
  color: #766357;
}

.button {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.visually-hidden,
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  background-color: white;
  margin: 0;
  padding-left: 8px;
}

.navigation-logo {
  position: absolute;
  left: 50%;

  margin-left: -70px;
}

.navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-site a {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  min-height: 56px;
  padding-top: 14px;
}

.navigation-site li:nth-of-type(2) {
  margin-left: 24px;
  margin-right: 260px;
}

.navigation-site li:nth-of-type(3) {
  margin-right: 26px;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: #81b3d2;
}

.greeting-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 508px;

  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: 0 452px, 0 -85px;
  background-repeat: no-repeat, no-repeat;
  background-color: #677c8b;
}

.greeting-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 216px;
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: white;
}

.greeting-text h1 {
  display: block;
  width: 450px;
  padding-bottom: 30px;
  margin: auto;

  font-size: 21px;
  line-height: 26px;
  color: black;
}

.greeting-text p {
  margin: 0;
}

.advices-list,
.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advices-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  min-height: 330px;
  padding: 58px 50px 30px;

  background-color: white;
}

.advices-item h3 {
  display: block;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  color: white;

  background-color: #81b3d2;
}

.benefits-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding: 47px 69px 30px;
}

.benefits .benefits-item {
  padding: 47px 48px 30px;
}

.benefits-list .benefits-item {
  background-color: #eeeeee;
}

.benefits-list .benefits-item:nth-of-type(3) {
  padding-left: 71px;
  padding-right: 71px;
}

.benefits-item h2 {
  display: block;
  width: 151px;
  margin: auto;
}

.benefits-list h2 {
  color: black;
}

.benefits-item .number {
  display: block;
  position: relative;
  margin-top: 24px;
  margin-bottom: 20px;
}

.benefits-item .number:before,
.benefits-item .number:after {
  content: "";
  position: absolute;

  height: 1px;
  width: 9px;
}

.benefits .number:before,
.benefits .number:after {
  top: 10px;
  left: 128px;

  background-color: white;
}

.benefits .number:after {
  left: 168px;
}

.benefits-list .number:before,
.benefits-list .number:after {
  top: 10px;
  left: 106px;

  background-color: #333333;
}

.benefits-list .number:after {
  left: 147px;
}

div[class^="benefits-img"] {
  width: 800px;
  background-size: cover;

  overflow: hidden;
}

.benefits-img-town {
  background-image: url("../img/feature-picture-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -78px;

  background-color: #b28e70;
}

.benefits-img-bridge {
  background-image: url("../img/feature-picture-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 -76px;

  background-color: #8e5c4a;
}

.appointment {
  position: relative;

  min-height: 291px;
  margin: 0;

  background-color: white;
}

.appointment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 290px;

  background-color: white;
}

.appointment-info h2 {
  display: block;
  margin-top: 50px;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.appointment-info p {
  line-height: 24px;
  margin: 0 0 47px;
}

.appointment-info .button-brown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  height: 86px;

  font-size: 21px;
  line-height: 26px;
}

/*Style for popup*/
.popup {
  position: absolute;
  top: 291px;
  left: 316px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;

  font-family: inherit;
  font-weight: bold;
  color: black;

  background-color: white;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 55px 0 30px 55px;
}

.popup-form .popup-data {
  position: relative;
  margin: 0 0 30px;

  text-align: left;
}

.popup-data input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-left: 13px;
  padding-right: 30px;
}

.popup-data label {
  display: inline-block;
  width: 95px;
  margin-right: 13px;
}

.popup-data button {
  position: absolute;
  top: 8px;
  right: 58px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.popup-data path {
  fill: #cacaca;
}

.popup-data:hover path,
.popup-data:focus path {
  fill: #231f20;
}

.popup-data:active path{
  fill: #81b3d2;
}

.popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-form .popup-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 230px;
  margin: 0 0 53px;
}

.popup-container .popup-person:first-of-type {
  margin-right: 50px;
}

.popup-person label {
  margin-right: 40px;
}

.popup-person:last-of-type label {
  margin-right: 25px;
}

.popup-person input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  text-align: center;
}

.popup-person button {
  position: relative;

  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.button-left::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 12px;
  height: 3px;

  background-color: #bdbbbc;
}

.button-right::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 11px;
  height: 3px;

  background-color: #bdbbbc;
}

.button-right::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 11px;
  height: 3px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  background-color: #bdbbbc;
}

.button-left:hover::before,
.button-left:focus::before,
.button-right:hover::before,
.button-right:focus::before,
.button-right:hover::after,
.button-right:focus::after {
  background-color: #231f20;
}

.button-left:active::before,
.button-right:active::before,
.button-right:active::after {
  background-color: #81b3d2;
}

.popup-form input {
  font: inherit;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.popup-form input:hover {
  background-color: #ebebeb;
}

.popup-form input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.popup-button {
  width: 458px;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
}

.popup-hidden {
  display: none;
}

.appointment-map {
  min-height: 590px;
  margin: 0;

  background-color: #e0edbc;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top;
}

.footer-absolute {
  position: absolute;
  bottom: 0;

  width: 1200px;

  opacity: 0.9;
}

.footer-main {
  min-height: 123px;

  background-color: white;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1060px;
  padding-top: 22px;
  margin: auto;
}

.footer-contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  padding-left: 63px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  color: black;
}

.footer-contacts p {
  margin: 0 0 6px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin-right: 95px;
  padding: 0;

  list-style: none;
}

.button-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  width: 46px;
}

.button-social:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;

  color: black;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

/*style for catalog.html*/
.filters {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 217px;
  padding-top: 27px;

  color: white;

  background-color: #657a8a;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filters-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1060px;
  margin: auto;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.filter {
  margin: 0;
  padding: 0;

  text-align: left;

  border: none;
}

.filters-form .filter:nth-of-type(2) {
  margin-left: 115px;
  margin-right: auto;
}

.filter legend {
  margin-left: 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-item {
  position: relative;

  margin-top: 25px;
  padding-left: 43px;
}

.filter-item label {
  cursor: pointer;
}

.filter-input + label:before {
  content: "";
  position: absolute;
  right: 113px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input:checked + label:before {
  content: "";
  position: absolute;
  right: 109px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input:disabled + label:before {
  opacity: 0.3;
}

.filter-input:focus + label {
  border-bottom: 2px solid white;
}


.filter-range {
  width: 318px;
  margin-right: 1px;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  border: 2px solid white;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  line-height: 32px;
}

.price-controls .min-price,
.price-controls .max-price {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-left: 40px;
}

.price-controls .max-price {
  padding-left: 30px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;
  vertical-align: baseline;

  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: white;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle:hover {
  width: 7px;
  height: 7px;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  width: 135px;
  height: 36px;
  margin-right: 11px;

  line-height: 32px;
  color: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;

  cursor: pointer;
}

.button-transparent:hover,
.button-transparent:focus {
  color: black;

  background-color: white;
}

.sort {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 86px;
  padding-top: 8px;

  background-color: white;
  border-bottom: 1px solid #f2f2f2;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1060px;
  margin: auto;
}

.sort h3 {
  margin-left: 3px;
  margin-right: 45px;

  font-size: 21px;
  line-height: 26px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;

  font-size: 12px;
  line-height: 18px;
}

.sort-list p {
  width: 80px;
  margin-right: 39px;
}

.sort-list ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 0;

  list-style: none;
}

.sort-item {
  margin-right: 31px;
}

.sort-item button {
  padding: 0;

  color: rgba(0, 0, 0, 0.3);
  font: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;

  cursor: pointer;
  outline: none;
}

.sort-item button:hover,
.sort-item button:focus {
  color: #81b3d2;
}

.sort-item button:active {
  color: black;

  border: none;
}

.sort-item-active button {
  border: none;
  color: #81b3d2;
}

.control {
  padding: 0;
  margin: 0 2px 2px 7px;

  background-color: transparent;
  border: none;

  cursor: pointer;
  outline: none;
}

.control:hover path,
.control:focus path {
  fill: #231f20;
}

.control:active path {
  fill: #81b3d2;
}

.control-active path {
  fill: #81b3d2;
}

.housing {
  min-height: 453px;

  background-color: white;
}

.housing-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.housing-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 152px;
  padding-top: 25px;

  border-bottom: 1px solid #f2f2f2;
}

.housing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1060px;
  margin: auto;
}

.housing-item-img {
  margin-left: 3px;
}

.housing-item-info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  min-height: 100px;
  margin-right: auto;
  margin-left: 30px;

  text-align: left;
}

.housing-item-info h3{
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.housing-item-info span {
  display: inline-block;
  height: 21px;
  width: 110px;
  margin-top: 7px;
  margin-right: 3px;
}

.housing-item-info .button {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 2px;
  margin-top: 11px;

  line-height: 27px;
}

.housing-item-info .button-brown {
  display: inline-block;
  width: 142px;
  height: 27px;
  margin-top: 11px;

  line-height: 27px;
}

.housing-item-rating {
  text-align: right
}

.housing-item-rating img {
  margin-left: 3px;
}

.housing-item-rating p {
  display: block;
  width: 110px;
  min-height: 27px;
  margin-top: 40px;
  margin-bottom: 0;

  line-height: 27px;
  text-align: center;

  background-color: #f2f2f2;
}
