body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.link {
  font-family: inherit;
  font-weight: bold;
  color: black;
}

.link:hover,
.link:focus {
  color: #81b3d2;
}

.link:active {
  color: #bdbbbc;
}

.active-link a {
  color: #766357;
}

.button {
  font-family: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  font-family: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  background-color: white;
}

.site-navigation {
  list-style: none;
}

.greeting {
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.greeting-img{
  margin-bottom: -19px;
  
  background-image: url("../img/intro-mask.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.greeting-text {
  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

.advices {
  background-color: white;
}

.advices-list {
  list-style: none;
}

.advices-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.benefits-blue {
  color: white;

  background-color: #81b3d2;
}

.benefits-gray {
  background-color: #eeeeee;
}

.benefits-img {
  width: 800px;
  height: 256px;

  overflow: hidden;
}

.appointment {
  min-height: 300px;

  background-color: white;
  background-image: url("../img/map.png");
}

.appointment-info {
  background-color: white;
}

.popup {
  font-family: inherit;
  font-weight: bold;

  background-color: white;
}

.popup-item input {
  font: inherit;

  background-color: #f2f2f2;
}

.popup-item input:hover {
  background-color: #ebebeb;
}

.popup-item input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-social ul {
  list-style: none;
}


/*style for catalog.html*/

.features {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.sort {
  background-color: white;
}

.sort p {
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
}

.sort-item button {
  padding: 0;

  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item button:hover,
.sort-item button:focus {
  color: #81b3d2;
}

.sort-item button:active {
  color: black;

  border: none;
}

.control {
  padding: 0;

  background-color: transparent;
  border: none;
}

.housing {
  background-color: white;
}

.housing-list {
  list-style: none;
}
